body {
    background-color: #f1f4fa !important;

    ul {
        list-style-type: none;
    }

    .app__container > div {
        display: flex;
        flex-direction: column;
    }
    .dashboard__container {
        flex: 1;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;

        .dashboard__container--content {
            padding: 20px;
            width: 100%;
        }
    }
}
