body {
    background-color: #fff !important;

    ul {
        list-style-type: none;
    }

    .pagination {
        margin: 20px 0 0 0;
    }
    .blue-btn {
        background-color: $blue;
        border-color: $blue;
        border-radius: $borderRadius;
        color: #fff;
        min-width: 90px;
    }
    .blue-btn:hover {
        background-color: $darkBlue;
        border-color: $darkBlue;
        color: #fff;
    }
    .red-btn {
        background-color: $red;
        border-color: $red;
        border-radius: $borderRadius;
        color: #fff;
    }
    .red-btn:hover {
        background-color: $darkRed;
        border-color: $darkRed;
        color: #fff;
    }
    .table {
        background-color: #fff;
        border-radius: $borderRadius;
    }
    .loader__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 10;
    }
    .app__container > div {
        display: flex;
        flex-direction: column;
    }
    .dashboard__container {
        flex: 1;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;

        .dashboard__container--content {
            padding: 20px;
            width: 100%;
            position: relative;
        }
    }
    .header__container {
        p {
            font-weight: 600;
            margin: 0;
            padding-bottom: 20px;
            color: $dark;
            font-size: 22px;
        }
    }
    .legend__container {
        margin-top: 5px;

        .legend {
            display: flex;

            .legend-color__container {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            .legend__text {
                margin: 0;
                font-size: 12px;
            }
        }
    }
    .alert {
        position: fixed;
        top: 70px;
        right: 10px;
        z-index: 10;
    }
}
